{% extends 'base.html' %}

{% block title %}Your Chats{% endblock %}

{% block content %}
<h2>Your Chats</h2>
<ul>
    {% for chat in chats %}
        <li>
            {% for participant in chat.participants.all %}
                {% if participant != user %}
                    <a href="{% url 'chats:chat_view' participant.id %}">{{ participant.username }}</a>
                {% endif %}
            {% endfor %}
        </li>
    {% empty %}
        <p>No chats available.</p>
    {% endfor %}
</ul>
{% endblock %}
